{erl_opts, [debug_info]}.
{deps, [{getopt, "1.0.1"}]}.

{escript_incl_apps, [proto_validator,
                     getopt]}.
{escript_main_app, proto_validator}.
{escript_name, proto_validator}.
{escript_emu_args, "%%! +sbtu -escript main proto_validator\n"}.

{post_hooks, [{escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/proto_validator\" ./proto-validator"}
             ]}.
